{% extends 'AppBundle:Default:base.html.twig' %}
{% form_theme form 'AppBundle:form:fields.html.twig' %}

{% block title %}Address{% endblock %}
{% block body %}
	<div class="center-block form-container border-radius">
		<h2>Your address:</h2>
		{{form(form)}}
	</div>
{% endblock %}