
/*** MENU ***/
.menu div.sub_menu > div {
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 70px;
}

.menu div.sub_menu > div:hover{
	background-color: #20B2AA;
	cursor: pointer;
}

.menu .sub_menu a {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline;
}

.menu {
	padding: 0px;
}

.menu .flash {
	display: none;
}

/*** END MENU ***/

/*** ALL_EVENTS ***/

p.ev_par{
	margin :20px;
}

section.event {
	padding-right: 50px;
	padding-left: 50px;
}

/*** END ALL_EVENTS ***/
