<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
	<head>
	{% block stylesheets %}
    	{% stylesheets 
    		'bundles/app/css/*' 
    	%}
    	    <link rel="stylesheet" href="{{ asset_url }}" />
    	{% endstylesheets %}
	{% endblock %}
	{% javascripts 'bundles/app/js/*' %}
    	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<title>Agenda - {% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class=".container">
			{% include 'AppBundle:Default:header.html.twig' %}
			<body>
				{% block body %}{% endblock %}
			</body>
			{% include 'AppBundle:Default:footer.html.twig' %}
		</div>
	</body>
</html>