{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}All your events{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<p class="ev_par">Liste de tous les evenements que vous avez créez ou auquel vous participez</p>
		<section class="event">
			<h2>Creer</h2>
			<table class="table table-striped">
				<tr>
					<th>title</th>
					<th>place</th>
					<th>participants</th>
				</tr>
				{% for event in user.createdEvents %}
					<tr>
						<td>{{event.title}}</td>
						<td>{{event.date | date('m d Y')}}</td>
						<td>{{event.users | length}}</td>
					</tr>
				{% endfor %}
			</table>
		</section>
		<section class="event">
			<h2>Participants</h2>
			<table class="table table-striped">
				<tr>
					<th>title</th>
					<th>place</th>
					<th>participants</th>
				</tr>
				{% for event in user.events %}
					<tr>
						<td>{{event.title}}</td>
						<td>{{event.date | date('m d Y')}}</td>
						<td>{{event.users | length}}</td>
					</tr>
				{% endfor %}
			</table>
		</section>
		<section class="event">
			<h2>Events auquels vous pouvez participer</h2>
			<table class="table table-striped">
				<tr>
					<th>title</th>
					<th>place</th>
					<th>participants</th>
					<th></th>
				</tr>
				{% for event in activeEvents %}
					<tr>
						<td>{{event.title}}</td>
						<td>{{event.date | date('m d Y')}}</td>
						<td>{{event.users | length}}</td>
						<td><button class="btn btn btn-primary join_group">participer</button></td>
					</tr>
				{% endfor %}
			</table>
		</section>
	{% else %}
		Vous devez etre authentifer pour visualisez vos evenement et en creer
		<a href="{{ path('user_registration') }}">s'inscrire</a>
	{% endif %}
{% endblock %}
