<header class=".container">
	<h1>Agenda</h1>
	<section class="row">
		{% include 'AppBundle:Default:menu.html.twig' %}
	</section>
	<section class="flash row">
		{% for flash_message in app.session.flashBag.get('notice') %}
    		<div class="text-info">
        		{{ flash_message }}
    		</div>
		{% endfor %}
	</section>	
</header>