{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block body %}
{% if (is_granted('IS_AUTHENTICATED_FULLY') == false) %}
<div>
	<p>Vous n'etes pas inscrit ou connecté :( inscrivez-vous pour visualisez vos events et contacts</p>
</div>
{% else %}
<div>
	<h2>Vos Infos:</h2>
	<ul>
		<li>pseudo : {{user.username}}</li>
		{% if user.address %}
			<li>Ville : {{user.address.city}}</li>
			<li>Adresse : {{user.address.street}} - {{user.address.country}} - {{user.address.zipCode}}</li>
		{% else %}
			vous n'avez pas entrer votre adresse
			<button class="btn btn-primary" name="adresse">ajouter adresse</button>
		{% endif %}
	</ul>
</div>
<div>
	<h2>Vos évènements:</h2>
	<div>
		<table class="table-striped">
			<tbody>
			{% for event in events %}
				<tr>
					<td>{{event.title}}</td>
					<td>{{event.date | date("d.m.Y") }}</td>
				</tr>
			{% endfor %}
				<tr><a href="{{ path('app_event_showall') }}">more ...</a></tr>
			</tbody>
		</table>
	</div>
</div>
<div>
	<h2>Vos contacts:</h2>
	<ul>
		{% for  contact in contacts %}
			<li>
				<div>
					nom : {{contact.name}}<br>
					prenom : {{contact.firstName}}<br>
				</div>
			</li>
		{% endfor %}
	</ul>
	<a href="">more ...</a>
</div>
{% endif %}
{% endblock %}