    {# src/AppBundle/Resources/views/Security/login.html.twig #}
    {% if erreur %}
        <div class="">{{ erreur }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <input type="submit" name="login" />
    </form>