<div class="row menu">
		<nav>
			{% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
				<div class="sub_menu row">
					<div class="col-md-3">
						<a href="{{path('app_event_showall')}}">event</a>
					</div>
					<div class="col-md-3">
						<a href="">contatcs</a>
					</div>
					<div class="col-md-3">
						<a href="{{path('app_default_admin')}}">admin</a>
					</div>
					<div class="col-md-3">
						<a href="{{path('logout')}}">logout</a>
					</div>	
				</div>
			{% else %}
				<div class="sub_menu row">
					<div class="col-md-3">
						<a class="col-md-6" href="{{path('login')}}">se connecter</a>
					</div>
					<div class="col-md-3">
						<a class="col-md-6" href="">s'inscrire</a>
					</div>
				</div>
			{% endif %}
		</nav>
</div>