{% extends 'AppBundle:Default:base.html.twig' %}
{% form_theme form 'AppBundle:form:fields.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}